.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #434956;
    margin: 2px;
    width: 32%;
    height: 32%;
    transition: ease 0.5s;
    text-shadow: 2px 2px 8px #FF0000;
}

.Tile:hover {
    cursor: pointer;
    background-color: #AB47BC;
}

.TileContent {
    font-size: 50px;
}